@{
    ViewBag.Title = "Pedidos";
}
<style>
    input[disabled] {
        pointer-events: none;
    }
    .container-orders {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px;
        box-sizing: border-box;
    }
    .container-orders > .row {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .container-orders > .row hr {
        display: none;
    }
    .container-form .controls {
        margin: 0;
    }
    .col-sm-12.col-md-4.controls {
        width: auto;
    }
    .form-body .row {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .form-body .row .controls {
        margin: 0;
        padding: 0;
    }
    .cont-checks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cont-checks .label-check {
        width: 140px;
    }
    .cont-radios {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .btn-convert {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .btn-convert button {
        width: 100%;
    }
    .bottom {
        margin-top: 15px;
    }
    .modal-info .fas {
        font-size: 6em;
        padding: 5%;
    }
	tr.active {
		background: #c0392b !important;
	}
    tr.active td {
        color: #FFF !important;
    }
    .field-active {
        background: #7af4af !important;
    }
	.d-flex.justify-content-evenly > button {
		width: 25px;
		height: 25px;
		padding: 0;
		font-size: 10px;
	}
    @@media (max-width: 767px) {
        .btn-convert {
            margin-top: 15px;
        }
    }
    @@media (max-width: 1199px) {
        .buttons-next-prev, .button-delete {
            justify-content: center !important;
        }
        .container-orders, .container-orders > .row {
            height: auto !important;
        }
        hr:not(.divider) {
            display: block !important;
        }
    }
</style>
<div class="container-fluid container-orders" id="container-orders" style="display: none;" ng-app="Orders" ng-controller="controller">
	<div class="row">
		<div class="col-md-12 col-xl-3 container-list">
			<input type="text" id="input-orders" class="form-control" placeholder="Buscar pedido..." style="border: solid 1px #ced4da;" onkeyup="searchOrder()" />
			<div class="list-table-orders">
				<table class="table table-hover table-striped" id="table-orders">
					<thead>
						<tr>
							<th class="text-white">Código</th>
							<th class="text-white">Cliente</th>
						</tr>
					</thead>
					<tr ng-repeat="order in orders" ng-class="{ active: orders[index].doc_num == order.doc_num }" ng-click="selectOrder(order.doc_num)" style="cursor: pointer;">
						<td><i class="fas fa-caret-right mx-1" ng-show="orders[index].doc_num == order.doc_num"></i>{{ order.doc_num }}</td>
						<td>{{ order.saCliente.cli_des }}</td>
					</tr>
				</table>
			</div>
		</div>
		<hr class="divider" />
		<form action="" method="post" id="form" class="col-md-12 col-xl-9 container-form" onsubmit="return false;">
			<div class="form-header">
				<h3 class="text-center text-white"><i class="fas fa-file-invoice"></i> Pedido</h3>
			</div>
			<div class="form-buttons">
				<div class="row">
					<div class="col buttons-next-prev" ng-show="!adding && !editing">
						<button type="button" class="btn btn-primary" ng-click="margin('s')">
							<i class="fas fa-backward-step"></i>
						</button>
						<div style="width: 10px;"></div>
						<button type="button" class="btn btn-primary" ng-click="prev()">
							<i class="fas fa-chevron-left"></i>
						</button>
						<div style="width: 10px;"></div>
						<button type="button" class="btn btn-primary" ng-click="next()">
							<i class="fas fa-chevron-right"></i>
						</button>
						<div style="width: 10px;"></div>
						<button type="button" class="btn btn-primary" ng-click="margin('e')">
							<i class="fas fa-forward-step"></i>
						</button>
					</div>
					<div class="col buttons-save-cancel" ng-show="adding">
						<button type="button" class="btn btn-danger" ng-click="adding = false; order = orders[index]">
							<i class="fas fa-times"></i>
							Cancelar
						</button>
						<div style="width: 10px;"></div>
						<button type="submit" class="btn btn-success" ng-click="addOrder()">
							<i class="fas fa-save"></i>
							Agregar
						</button>
					</div>
					<div class="col buttons-save-cancel" ng-show="editing">
						<button type="button" class="btn btn-danger" ng-click="editing = false; order = orders_orig[index]">
							<i class="fas fa-times"></i>
							Cancelar
						</button>
						<div style="width: 10px;"></div>
						<button type="button" class="btn btn-success" ng-click="editOrder()">
							<i class="fas fa-save"></i>
							Guardar
						</button>
					</div>
					<div class="col buttons-actions justify-content-end" ng-show="!adding && !editing">
						<button type="button" class="btn btn-primary" ng-click="initAddOrder()">
							<i class="fas fa-plus"></i> Nuevo
						</button>
						<div style="width: 10px;"></div>
						<button type="button" class="btn btn-warning" ng-disabled="order.saldo < order.total_neto" ng-click="editing = true">
							<i class="fas fa-file-edit"></i> Modificar
						</button>
						<div style="width: 10px;"></div>
						<button type="button" class="btn btn-danger" ng-disabled="order.saldo < order.total_neto" onclick="$('#modalDelete').modal('show')">
							<i class="fas fa-times"></i> Eliminar
						</button>
					</div>
				</div>
			</div>
			<div class="form-tabs">
				<div class="row">
					<button type="button" id="btn-general" class="col tablinks active" onclick="openTab(event, 'general')">General</button>
					<button type="button" id="btn-adicionales" class="col tablinks" onclick="openTab(event, 'adicionales')">Adicionales</button>
				</div>
			</div>
			<div id="general" class="form-body" style="display: flex;">
				<div class="row">
					<div class="col-sm-12 col-md-5">
						<div class="controls">
							<label>Número</label>
							<input type="text" class="form-control" id="id" ng-model="order.doc_num" ng-disabled="true" ng-required="true" />
						</div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div class="controls">
							<label>Fecha</label>
							<input type="date" class="form-control" id="fec_emis" ng-model="order.fec_emis" ng-disabled="!adding" ng-required="true" />
						</div>
					</div>
					<div class="col-sm-12 col-md-3">
						<div class="controls">
							<label>Fec. Venc</label>
							<input type="date" class="form-control" id="fec_venc" ng-model="order.fec_venc" ng-disabled="!adding" ng-required="true" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-5">
						<div class="controls">
							<label>Cliente</label>
							<div class="input-search">
								<input type="text" class="form-control" id="client" ng-model="order.co_cli" ng-disabled="!adding && !editing" ng-required="true" style="flex: 1;" ng-keyup="setClient(order.co_cli, false)" ng-blur="setClient(order.co_cli, true)" />
								<input type="text" class="form-control" id="des_client" ng-model="order.des_cli" ng-disabled="!adding && !editing" ng-required="true" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
								<i class="fas fa-search" role="button" onclick="openModal(this, 'modalClients')" data-name="client"></i>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div class="controls">
							<label>Vendedor</label>
							<div class="input-search">
								<input type="text" class="form-control" id="seller" ng-model="order.co_ven" ng-disabled="!adding && !editing" ng-required="true" style="flex: 1;" ng-keyup="setSeller(order.co_ven, false)" ng-blur="setSeller(order.co_ven, true)" />
								<input type="text" class="form-control" id="des_seller" ng-model="order.des_ven" ng-disabled="!adding && !editing" ng-required="true" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
								<i class="fas fa-search" role="button" onclick="openModal(this, 'modalSellers')" data-name="seller"></i>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-3">
						<div class="controls">
							<label>Moneda</label>
							<div class="input-search">
								<input type="text" class="form-control" id="currency" ng-model="order.co_mone" ng-disabled="!adding && !editing" ng-required="true" onkeydown="return false;" />
								<i class="fas fa-search" role="button" onclick="openModal(this, 'modalCurrencies')" data-name="currency"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-5">
						<div class="controls">
							<label>Cond. Pago</label>
							<div class="input-search">
								<input type="text" class="form-control" id="cond" ng-model="order.co_cond" ng-disabled="!adding && !editing" ng-required="true" style="flex: 1;" ng-keyup="setCond(order.co_cond, false)" ng-blur="setCond(order.co_cond, true)" />
								<input type="text" class="form-control" id="des_cond" ng-model="order.des_cond" ng-disabled="!adding && !editing" ng-required="true" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
								<i class="fas fa-search" role="button" onclick="openModal(this, 'modalConds')" data-name="cond"></i>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div class="controls">
							<label>Transporte</label>
							<div class="input-search">
								<input type="text" class="form-control" id="trans" ng-model="order.co_tran" ng-disabled="!adding && !editing" ng-required="true" onkeydown="return false;" />
								<i class="fas fa-search" role="button" onclick="openModal(this, 'modalTrans')" data-name="trans"></i>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-3">
						<div class="controls">
							<label>Tasa</label>
							<input type="text" class="form-control" id="tasa" ng-model="order.tasa" ng-disabled="!adding && !editing" ng-required="true" ng-change="update(order.tasa)" onkeydown="return onlyNumbers(event)" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-5">
						<div class="controls">
							<label>Descripción</label>
							<input type="text" class="form-control" id="descrip" ng-model="order.descrip" ng-disabled="!adding && !editing" ng-required="false" />
						</div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div class="controls">
							<label>Estatus</label>
							<input type="text" class="form-control" id="n_control" ng-model="order.estatus" ng-disabled="true" ng-required="false" />
						</div>
					</div>
					<div class="col-sm-12 col-md-3 btn-convert">
						<button type="button" class="btn btn-primary" ng-click="convert()">Conversión</button>
					</div>
				</div>
				<div class="row mt-3" ng-if="adding || editing">
					<div class="col">
						<button type="button" class="btn btn-primary" ng-click="initItem(false, null)">
							<i class="fas fa-plus"></i> Agregar Item
						</button>
					</div>
				</div>
				<div class="bottom" style="padding: 0 0 10px 0;">
					<h4 class="text-center text-white form-header"><i class="fas fa-list"></i> Detalle</h4>
					<div style="padding: 0 10px; overflow-x: auto;">
						<table class="table">
							<thead class="thead-dark">
								<tr>
									<th>N°</th>
									<th>Artículo</th>
									<th>Descripción</th>
									<th>Almacén</th>
									<th>Cantidad</th>
									<th>IVA</th>
									<th>Total</th>
									<th ng-if="adding"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="reng in order.saPedidoVentaReng" style="cursor: pointer;">
									<td>{{ reng.reng_num }}</td>
									<td>{{ reng.co_art }}</td>
									<td>{{ searchArt(reng.co_art) }}</td>
									<td>{{ reng.co_alma }}</td>
									<td>{{ reng.total_art }}</td>
									<td ng-show="!converted">{{ reng.monto_imp }}</td>
									<td ng-show="converted" class="field-active">{{ reng.monto_imp_om }}</td>
									<td ng-show="!converted">{{ reng.reng_neto }}</td>
									<td ng-show="converted" class="field-active">{{ reng.reng_neto_om }}</td>
									<td ng-if="adding || editing" class="d-flex justify-content-evenly">
										<button type="button" class="btn btn-primary" ng-click="initItem(true, reng);">
											<i class="fas fa-pencil"></i>
										</button>
										<button type="button" class="btn btn-danger" ng-click="updateAmounts(order, reng, order.saPedidoVentaReng, 3);">
											<i class="fas fa-times"></i>
										</button>
									</td>
								</tr>
								<tr ng-if="!order.saPedidoVentaReng || order.saPedidoVentaReng.length == 0">
									<td colspan="8"><p class="m-0 text-center">No hay items agregados</p></td>
								</tr>
							</tbody>
						</table>
					</div>
					<hr />
					<div class="row">
						<div class="col-sm-12 col-md-6 offset-md-6">
							<div class="controls">
								<label>Sub-Total</label>
								<input type="text" class="form-control" id="subtotal" ng-model="order.total_bruto" ng-show="!converted" ng-disabled="true" ng-required="true" />
								<input type="text" class="form-control field-active" id="subtotal_om" ng-model="order.total_bruto_om" ng-show="converted" ng-disabled="true" ng-required="true" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-6 offset-md-6">
							<div class="controls">
								<label>IVA</label>
								<input type="text" class="form-control" id="iva" ng-model="order.monto_imp" ng-show="!converted" ng-disabled="true" ng-required="true" />
								<input type="text" class="form-control field-active" id="iva_om" ng-model="order.monto_imp_om" ng-show="converted" ng-disabled="true" ng-required="true" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="controls">
								<label>Saldo</label>
								<input type="text" class="form-control" id="saldo" ng-model="order.saldo" ng-show="!converted" ng-disabled="true" ng-required="true" />
								<input type="text" class="form-control field-active" id="saldo_om" ng-model="order.saldo_om" ng-show="converted" ng-disabled="true" ng-required="true" />
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="controls">
								<label>Total</label>
								<input type="text" class="form-control" id="total" ng-model="order.total_neto" ng-show="!converted" ng-disabled="true" ng-required="true" />
								<input type="text" class="form-control field-active" id="total_om" ng-model="order.total_neto_om" ng-show="converted" ng-disabled="true" ng-required="true" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="adicionales" class="form-body">
				<div class="left">
					<div class="controls">
						<label>Campo 1</label>
						<input type="text" class="form-control" ng-model="order.campo1" ng-disabled="true" />
					</div>
					<div class="controls">
						<label>Campo 3</label>
						<input type="text" class="form-control" ng-model="order.campo3" ng-disabled="true" />
					</div>
					<div class="controls">
						<label>Campo 5</label>
						<input type="text" class="form-control" ng-model="order.campo5" ng-disabled="true" />
					</div>
					<div class="controls">
						<label>Campo 7</label>
						<input type="text" class="form-control" ng-model="order.campo7" ng-disabled="true" />
					</div>
				</div>
				<div class="right">
					<div class="controls">
						<label>Campo 2</label>
						<input type="text" class="form-control" ng-model="order.campo2" ng-disabled="true" />
					</div>
					<div class="controls">
						<label>Campo 4</label>
						<input type="text" class="form-control" ng-model="order.campo4" ng-disabled="true" />
					</div>
					<div class="controls">
						<label>Campo 6</label>
						<input type="text" class="form-control" ng-model="order.campo6" ng-disabled="true" />
					</div>
					<div class="controls">
						<label>Campo 8</label>
						<input type="text" class="form-control" ng-model="order.campo8" ng-disabled="true" />
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Modal Eliminar Pedido -->
	<div class="modal fade modal-info" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px; margin: 0 auto;">
			<div class="modal-content">
				@*<div class="modal-header">
					<h3 class="modal-title">Eliminar Pedido</h3>
				</div>*@
				<div class="modal-body" style="max-height: 450px; overflow-y: auto; padding: 45px;">
					<div style="display: flex; justify-content: center;">
						<i class="fas fa-exclamation-triangle" style="color: var(--bs-yellow)"></i>
					</div>
					<h2 class="text-center">¿Desea eliminar el pedido {{ order.doc_num }}?</h2>
				</div>
				<div class="modal-footer" style="justify-content: center">
					<button type="button" style="width: 70px;" class="btn btn-danger" data-dismiss="modal">No</button>
					<button type="button" style="width: 70px;" class="btn btn-success" ng-click="deleteOrder(order.doc_num)">Sí</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Confirm -->
	<div class="modal fade modal-info" id="modalConfirm" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px; margin: 0 auto;">
			<div class="modal-content">
				<div class="modal-body" style="max-height: 450px; overflow-y: auto; padding: 45px;">
					<div style="display: flex; justify-content: center;">
						<i class="fas fa-exclamation-triangle" style="color: var(--bs-yellow)"></i>
					</div>
					<h3 class="text-center">¿Desea eliminar la preliquidación N° {{ order.doc_num }}?</h3>
				</div>
				<div class="modal-footer" style="justify-content: center">
					<button type="button" style="width: 70px;" class="btn btn-danger" data-dismiss="modal">No</button>
					<button type="button" style="width: 70px;" class="btn btn-success" ng-click="deleteOrder(order.doc_num)">Sí</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Waiting -->
	<div class="modal fade modal-info" id="modalWaiting" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px; margin: 0 auto;">
			<div class="modal-content">
				<div class="modal-body" style="max-height: 450px; overflow-y: auto; padding: 45px;">
					<div style="display: flex; justify-content: center;">
						<i class="fas fa-spinner fa-spin" style="color: #01579b;"></i>
					</div>
					<h2 class="text-center">Procesando...</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Success -->
	<div class="modal fade modal-info" id="modalSuccess" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px; margin: 0 auto;">
			<div class="modal-content">
				<div class="modal-body" style="max-height: 450px; overflow-y: auto; padding: 45px;">
					<div style="display: flex; justify-content: center;">
						<i class="fas fa-check-circle" style="color: var(--bs-green)"></i>
					</div>
					<h2 class="text-center">{{ successMessage }}</h2>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#modalWaiting').modal('hide');">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Error -->
	<div class="modal fade modal-info" id="modalError" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px; margin: 0 auto;">
			<div class="modal-content">
				<div class="modal-body" style="max-height: 450px; overflow-y: auto; padding: 45px;">
					<div style="display: flex; justify-content: center;">
						<i class="fas fa-exclamation-triangle" style="color: var(--bs-red)"></i>
					</div>
					<h2 class="text-center">Ha ocurrido un error</h2>
					<p class="text-center">{{ errorMessage }}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#modalWaiting').modal('hide');">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Agregar Item Pedido -->
	<div class="modal fade" id="modalItem" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index: 1051;">
		<form class="modal-dialog" role="document" style="max-width: 800px;" onsubmit="return false;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 ng-if="!editItem" class="modal-title">Agregar Item</h5>
					<h5 ng-if="editItem" class="modal-title">Editar Item</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="max-height: 450px; overflow-y: auto; text-align: left;">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="controls">
								<label>Articulo</label>
								<div class="input-search">
									<input type="text" class="form-control" id="art" ng-model="reng.co_art" ng-disabled="!adding && !editing" ng-required="true" style="flex: 1;" ng-keyup="setArt(reng.co_art, false)" ng-blur="setArt(reng.co_art, true)" />
									<input type="text" class="form-control" id="des_art" ng-disabled="!adding && !editing" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
									<i class="fas fa-search" role="button" onclick="openModal(this, 'modalArts')" data-name="art"></i>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="controls">
								<label>Almacen</label>
								<div class="input-search">
									<input type="text" class="form-control" id="alm" ng-model="reng.co_alma" ng-disabled="!adding && !editing" ng-required="true" style="flex: 1;" ng-keyup="setAlm(reng.co_alma, false)" ng-blur="setAlm(reng.co_alma, true)" />
									<input type="text" class="form-control" id="des_alm" ng-disabled="!adding && !editing" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
									<i class="fas fa-search" role="button" onclick="openModal(this, 'modalAlms')" data-name="alm"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-4">
							<div class="controls">
								<label>Cantidad</label>
								<input type="number" class="form-control" id="quantity" ng-model="reng.total_art" ng-disabled="!adding && !editing" ng-required="true" ng-change="updatePriceItem()" onkeydown="return onlyNumbers(event)" />
							</div>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="controls">
								<label>Tipo de Precio</label>
								<select class="form-select" id="tip_precio" ng-model="reng.co_precio" ng-change="receptPrice(reng.co_precio)" ng-disabled="!selectedArt">
									<option ng-repeat="price in prices_filter" ng-click="setPrice(price)" value="{{ price.co_precio.trim() }}">{{ price.co_precio.trim() }}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="controls">
								<label>Precio Unit. $USD</label>
								<input type="text" class="form-control" id="price_usd" ng-model="reng.prec_vta_om" ng-disabled="!adding && !editing" ng-required="true" ng-readonly="true" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-4">
							<div class="controls">
								<label>Total $USD (Sin IVA)</label>
								<input type="text" class="form-control" id="total_usd" ng-model="reng.reng_neto_om" ng-disabled="!adding && !editing" ng-required="true" ng-readonly="true" />
							</div>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="controls">
								<label>Porc. Tasa</label>
								<select class="form-select" id="tip_imp" ng-model="reng.tipo_imp" ng-change="receptImp(reng.tipo_imp)">
									<option ng-repeat="imp in imps" ng-click="setImp(imp)" value="{{ imp.tipo_imp.trim() }}">{{ imp.porc_tasa.toFixed(2) }}% ({{ imp.tipo_imp.trim() }})</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="controls">
								<label>Monto IVA $USD</label>
								<input type="text" class="form-control" id="iva_usd" ng-model="reng.monto_imp_om" ng-disabled="!adding && !editing" ng-required="true" ng-readonly="true" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<span ng-if="searching" class="text-primary" style="flex: auto;">CONSULTANDO STOCK...</span>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button ng-if="!editItem" type="submit" class="btn btn-primary" ng-click="setItem(reng, 1)">Agregar</button>
					<button ng-if="editItem" type="submit" class="btn btn-primary" ng-click="setItem(reng, 2)">Editar</button>
				</div>
			</div>
		</form>
	</div>
	<!-- Modal 1 -->
	<div class="modal fade" id="modalClients" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" style="max-width: 800px;">
			<div class="modal-content">
				<div class="modal-header py-2">
					<h5 class="modal-title">Buscar Cliente</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="max-height: 450px; overflow-y: auto">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Buscar cliente..." onkeyup="search('modalClients')" />
					</div>
					<table class="table table-bordered table-hover table-striped mt-3" id="results" style="text-align: left;">
						<tr ng-repeat="client in clients" style="cursor: pointer" onclick="selectRow(this)">
							<td>{{ client.co_cli }}</td>
							<td>{{ client.cli_des }}</td>
						</tr>
						<tr ng-if="!clients">
							<td colspan="2">Cargando clientes... <i class="fas fa-spinner-third fa-spin" style="font-size: 25px;"></i></td>
						</tr>
					</table>
					<input type="hidden" id="name-input" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" onclick="saveRow('modalClients')">Seleccionar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal 2 -->
	<div class="modal fade" id="modalConds" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" style="max-width: 800px;">
			<div class="modal-content">
				<div class="modal-header py-2">
					<h5 class="modal-title">Buscar Cond. Pago</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="max-height: 450px; overflow-y: auto">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Buscar cond. pago..." onkeyup="search('modalConds')" />
					</div>
					<table class="table table-bordered table-hover table-striped mt-3" id="results" style="text-align: left;">
						<tr ng-repeat="cond in conds" style="cursor: pointer" onclick="selectRow(this)">
							<td>{{ cond.co_cond }}</td>
							<td>{{ cond.cond_des }}</td>
						</tr>
					</table>
					<input type="hidden" id="name-input" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" onclick="saveRow('modalConds')">Seleccionar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal 3 -->
	<div class="modal fade" id="modalSellers" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" style="max-width: 800px;">
			<div class="modal-content">
				<div class="modal-header py-2">
					<h5 class="modal-title">Buscar Moneda</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="max-height: 450px; overflow-y: auto">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Buscar moneda..." onkeyup="search('modalSellers')" />
					</div>
					<table class="table table-bordered table-hover table-striped mt-3" id="results" style="text-align: left;">
						<tr ng-repeat="seller in sellers" style="cursor: pointer" onclick="selectRow(this)">
							<td>{{ seller.co_ven }}</td>
							<td>{{ seller.ven_des }}</td>
						</tr>
					</table>
					<input type="hidden" id="name-input" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" onclick="saveRow('modalSellers')">Seleccionar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal 4 -->
	<div class="modal fade" id="modalArts" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" style="max-width: 800px;">
			<div class="modal-content">
				<div class="modal-header py-2">
					<h5 class="modal-title">Buscar Articulo</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="max-height: 450px; overflow-y: auto">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Buscar articulo..." onkeyup="search('modalArts')" />
					</div>
					<table class="table table-bordered table-hover table-striped mt-3" id="results" style="text-align: left;">
						<tr ng-repeat="art in arts" ng-show="true" style="cursor: pointer" onclick="selectRow(this)">
							<td>{{ art.co_art }}</td>
							<td>{{ art.art_des }}</td>
						</tr>
					</table>
					<input type="hidden" id="name-input" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" onclick="saveRow('modalArts')">Seleccionar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal 5 -->
	<div class="modal fade" id="modalCurrencies" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" style="max-width: 800px;">
			<div class="modal-content">
				<div class="modal-header py-2">
					<h5 class="modal-title">Buscar Articulo</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="max-height: 450px; overflow-y: auto">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Buscar articulo..." onkeyup="search('modalCurrencies')" />
					</div>
					<table class="table table-bordered table-hover table-striped mt-3" id="results" style="text-align: left;">
						<tr ng-repeat="curr in currencies" ng-show="true" style="cursor: pointer" onclick="selectRow(this)">
							<td>{{ curr.co_mone }}</td>
							<td>{{ curr.mone_des }}</td>
						</tr>
					</table>
					<input type="hidden" id="name-input" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" onclick="saveRow('modalCurrencies')">Seleccionar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal 6 -->
	<div class="modal fade" id="modalTrans" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" style="max-width: 800px;">
			<div class="modal-content">
				<div class="modal-header py-2">
					<h5 class="modal-title">Buscar Articulo</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="max-height: 450px; overflow-y: auto">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Buscar articulo..." onkeyup="search('modalTrans')" />
					</div>
					<table class="table table-bordered table-hover table-striped mt-3" id="results" style="text-align: left;">
						<tr ng-repeat="tran in transports" ng-show="true" style="cursor: pointer" onclick="selectRow(this)">
							<td>{{ tran.co_tran }}</td>
							<td>{{ tran.des_tran }}</td>
						</tr>
					</table>
					<input type="hidden" id="name-input" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" onclick="saveRow('modalTrans')">Seleccionar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal 7 -->
	<div class="modal fade" id="modalAlms" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" style="max-width: 800px;">
			<div class="modal-content">
				<div class="modal-header py-2">
					<h5 class="modal-title">Buscar Almacen</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="max-height: 450px; overflow-y: auto">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Buscar almacen..." onkeyup="search('modalAlms')" />
					</div>
					<table class="table table-bordered table-hover table-striped mt-3" id="results" style="text-align: left;">
						<tr ng-repeat="alm in alms" ng-show="true" style="cursor: pointer" onclick="selectRow(this)">
							<td>{{ alm.co_alma }}</td>
							<td>{{ alm.des_alma }}</td>
						</tr>
					</table>
					<input type="hidden" id="name-input" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" onclick="saveRow('modalAlms')">Seleccionar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel-loading p-3">
	<h4>Cargando módulo de pedidos...</h4>
</div>
<script src="~/Scripts/angular-min.js"></script>
<script>
	var app = angular.module("Orders", []);
    var orders = @Html.Raw(ViewBag.orders);
    var orders_orig = @Html.Raw(ViewBag.orders);
    var clients = @Html.Raw(ViewBag.obj_client);
    var conds = @Html.Raw(Json.Encode(ViewBag.conds));
	var sellers = @Html.Raw(Json.Encode(ViewBag.sellers));
	var currencies = @Html.Raw(Json.Encode(ViewBag.currencies));
	var transports = @Html.Raw(Json.Encode(ViewBag.transports));
	var alms = @Html.Raw(Json.Encode(ViewBag.alms));
	var arts = @Html.Raw(ViewBag.arts);
	var prices = @Html.Raw(Json.Encode(ViewBag.prices));
	var imps = @Html.Raw(Json.Encode(ViewBag.imps));
	var rate = parseFloat('@ViewBag.rate');

	orders = parseItems(orders);
	orders_orig = parseItems(orders_orig);

	for (var item of prices) {
		item.desde = new Date(parseInt(item.desde.substr(6)));
	}

	$(document).ready(function () {
		$(".container-orders").removeAttr("style");
		$(".panel-loading").css("display", "none");
		$(".fas.fa-bars").trigger("click");
    });

    app.controller("controller", function ($scope, $http) {

		$scope.index = 0;
		$scope.numberI = 200;
		$scope.orders = orders;
		$scope.orders_orig = orders_orig;
		$scope.order = orders[$scope.index];
		$scope.clients = clients;
		$scope.conds = conds;
		$scope.sellers = sellers;
		$scope.currencies = currencies;
		$scope.transports = transports;
		$scope.alms = alms;
		$scope.arts = arts;
		$scope.prices = prices;
		$scope.prices_filter = null;
		$scope.imps = imps;
		$scope.adding = false;
		$scope.converted = false;
		$scope.editItem = false;
		$scope.selectedArt = false;

		$scope.next = function () {
			if ($scope.index == (orders.length - 1)) {
				$scope.index = 0;
			} else {
				$scope.index++;
			}

			$scope.order = orders[$scope.index];
		}

		$scope.prev = function () {
			if ($scope.index == 0) {
				$scope.index = orders.length - 1;
			} else {
				$scope.index--;
			}

			$scope.order = orders[$scope.index];
		}

		$scope.convert = function () {
			$scope.converted = !$scope.converted;
		}

		$scope.selectOrder = function (id) {

			if ($scope.adding) {
				alert("Debes terminar de agregar el pedido");
			} else if ($scope.editing) {
				alert("Debes terminar de modificar el pedido " + $scope.order.doc_num);
			} else {
				$scope.order = orders.find(o => o.doc_num == id);
				$scope.index = orders.indexOf($scope.order);
				$scope.orders = orders;
				$("#input-orders").val("");
				searchOrder();
			}
		}

		$scope.margin = function (p) {
			if (p == "s") {
				$scope.index = 0;
				$scope.order = orders[0];
			} else if (p == "e") {
				$scope.index = orders.length - 1;
				$scope.order = orders[orders.length - 1];
			}
		}

		$scope.searchArt = function (id) {
			return arts.find(a => a.co_art.trim() == id.trim()).art_des;
		}

		$scope.initAddOrder = function () {

			$scope.adding = true;

			$scope.order = {
				fec_emis: new Date(Date.now()),
				fec_venc: new Date(Date.now()),
				fec_reg: new Date(Date.now()),
				co_mone: currencies.find(c => c.co_mone.includes("US")).co_mone.trim(),
				tasa: rate,
				status: 0,
				estatus: "NO PROCESADA",
				total_bruto: "0.00",
				total_bruto_om: "0.00",
				monto_imp: "0.00",
				monto_imp_om: "0.00",
				total_neto: "0.00",
				total_neto_om: "0.00",
				saldo: "0.00",
				saldo_om: "0.00",
				saPedidoVentaReng: []
			};
		}

		$scope.initItem = function (edit, r) {

			$scope.editItem = edit;

			if (edit) {
				$scope.reng = r;
				$("#des_art").val(searchArt(r.co_art));
				$("#des_alm").val(searchAlm(r.co_alma));
			} else {
				$scope.reng = {
					co_art: "",
					total_art: 1,
					tipo_imp: "1",
					porc_imp: 16.00,
					prec_vta_om: "0.00",
					reng_neto_om: "0.00",
					monto_imp_om: "0.00"
				};

				$scope.selectedArt = false;
				$("#art").val("");
				$("#des_art").val("");
				$("#alm").val("");
				$("#des_alm").val("");
			}

			$('#modalItem').modal('show');
		}

		$scope.update = function (tasa) {

			tasa = tasa == null || parseFloat(tasa) == 0 ? 1 : parseFloat(tasa);

			if ($scope.converted) {
				$scope.order.total_bruto = setSeparator((parse($scope.order.total_bruto_om) * tasa).toFixed(2));
				$scope.order.monto_imp = setSeparator((parse($scope.order.monto_imp_om) * tasa).toFixed(2));
				$scope.order.total_neto = setSeparator((parse($scope.order.total_neto_om) * tasa).toFixed(2));
				$scope.order.saldo = setSeparator((parse($scope.order.saldo_om) * tasa).toFixed(2));

				if ($scope.order.saPedidoVentaReng) {
					for (var reng of $scope.order.saPedidoVentaReng) {
						reng.monto_imp = setSeparator((parse(reng.monto_imp_om) * tasa).toFixed(2));
						reng.reng_neto = setSeparator((parse(reng.reng_neto_om) * tasa).toFixed(2));
					}
				}
			} else {
				$scope.order.total_bruto_om = setSeparator((parse($scope.order.total_bruto) / tasa).toFixed(2));
				$scope.order.monto_imp_om = setSeparator((parse($scope.order.monto_imp) / tasa).toFixed(2));
				$scope.order.total_neto_om = setSeparator((parse($scope.order.total_neto) / tasa).toFixed(2));
				$scope.order.saldo_om = setSeparator((parse($scope.order.saldo) / tasa).toFixed(2));

				if ($scope.order.saPedidoVentaReng) {
					for (var reng of $scope.order.saPedidoVentaReng) {
						reng.monto_imp_om = setSeparator((parse(reng.monto_imp) / tasa).toFixed(2));
						reng.reng_neto_om = setSeparator((parse(reng.reng_neto) / tasa).toFixed(2));
					}
				}
			}
		}

		$scope.showItem = function (art) {
			return $scope.order.saPedidoVentaReng.find(r => r.co_art.trim() == art.co_art.trim()) == null;
		}

		$scope.setItem = async function (reng, action) {

			$("#modalItem form input").change();
			if ($("#modalItem form")[0].checkValidity()) {
				var i = await $scope.updateAmounts($scope.order, reng, $scope.order.saPedidoVentaReng, action);
				if (i == 1) {
					$("#des_art").val("");
					$("#des_alm").val("");
					$("#modalItem").modal("hide");
				}
			}
		}

		$scope.updatePriceItem = function () {

			var cant = parseFloat($scope.reng.total_art ?? 0);
			var price = parseFloat($scope.reng.prec_vta_om ?? 0);
			var imp = parseFloat($scope.reng.porc_imp ?? 0) / 100;

			$scope.reng.reng_neto_om = (cant * price).toFixed(3);
			$scope.reng.monto_imp_om = ((cant * price) * imp).toFixed(3);
		}

		$scope.updateAmounts = async function (i, r, rengs, action) {

			if (action != 3) {

				if (r.total_art <= 0) {
					$("#modalError").modal("show");
					$scope.errorMessage = "La cantidad del item debe ser mayor a 0";
					return -1;
				}

				if (parseFloat(r.prec_vta_om) <= 0) {
					$("#modalError").modal("show");
					$scope.errorMessage = "El precio unitario del item debe ser mayor a 0";
					return -1;
				}

				$scope.searching = true;
				var req = await $http.get("/api/DataMasterApi/GetStock/" + r.co_art.trim() + "/" + r.co_alma.trim());
				$scope.searching = false;

				if (req.data.Result <= 0 || req.data.Result < parseInt(r.total_art)) {
					$("#modalError").modal("show");
					$scope.searching = false;
					$scope.errorMessage = `No hay stock disponible del articulo ${r.co_art.trim()} en el almacen ${r.co_alma.trim()} (DISPONIBLE ${req.data.Result}, SOLICITADA ${r.total_art})`;
					if ($scope.editing)
						r.total_art = $scope.orders_orig[$scope.index].saPedidoVentaReng[r.reng_num - 1].total_art;

					$scope.$digest();
					return -1;
				}

				if (action == 1) {
					r.reng_num = $scope.order.saPedidoVentaReng.length + 1;
					r.co_uni = "UND";
					// r.co_alma = sucur;
					// r.co_precio = "001";
				}

				// r.tipo_imp = parseFloat(r.monto_imp_om) > 0 ? 1 : 7;
				// r.porc_imp = parseFloat(r.monto_imp_om) > 0 ? 16.00 : 0;
				r.total_art = parseInt(r.total_art);
				r.pendiente = parseInt(r.total_art);

				r.prec_vta = setSeparator((parseFloat((parseFloat(r.prec_vta_om) * parseFloat(i.tasa ?? 1)).toFixed(3))).toFixed(2));
				r.reng_neto = setSeparator((parseFloat((parseFloat(r.reng_neto_om) * parseFloat(i.tasa ?? 1)).toFixed(3))).toFixed(2));
				r.monto_imp = setSeparator((parseFloat((parseFloat(r.monto_imp_om) * parseFloat(i.tasa ?? 1)).toFixed(3))).toFixed(2));
				r.prec_vta_om = setSeparator(parseFloat(parseFloat(r.prec_vta_om).toFixed(3)).toFixed(2));
				r.reng_neto_om = setSeparator(parseFloat(parseFloat(r.reng_neto_om).toFixed(3)).toFixed(2));
				r.monto_imp_om = setSeparator(parseFloat(parseFloat(r.monto_imp_om).toFixed(3)).toFixed(2));
			}

			let ind = rengs.indexOf(rengs.find(i => i.reng_num == r.reng_num));
			switch (action) {
				case 1: // AGREGAR ITEM
					rengs.push(r);
					break;
				case 2: // EDITAR ITEM
					rengs[ind] = r;
					break;
				case 3: // ELIMINAR ITEM
					rengs.splice(ind, 1);
					break;
			}

			if (action == 3) {
				for (var r in rengs) {
					rengs[r].reng_num = parseInt(r) + 1;
				}
			}

			i.total_bruto = setSeparator(rengs.map((r) => r.reng_neto).reduce((acc, act) => acc + parse(act), 0));
			i.total_bruto_om = setSeparator((parseFloat((parse(i.total_bruto) / parseFloat(i.tasa ?? 1)).toFixed(3))).toFixed(2));
			i.monto_imp = setSeparator(rengs.map((r) => r.monto_imp).reduce((acc, act) => acc + parse(act), 0));
			i.monto_imp_om = setSeparator((parseFloat((parse(i.monto_imp) / parseFloat(i.tasa ?? 1)).toFixed(3))).toFixed(2));
			i.total_neto = setSeparator(rengs.map((r) => parse(r.reng_neto) + parse(r.monto_imp)).reduce((acc, act) => acc + parse(setSeparator(act)), 0));
			i.total_neto_om = setSeparator((parseFloat((parse(i.total_neto) / parseFloat(i.tasa ?? 1)).toFixed(3))).toFixed(2));
			i.saldo = i.total_neto;
			i.saldo_om = i.total_neto_om;

			if (action != 3)
				$scope.$digest();

			return 1;
		}

		$scope.setClient = function (value, del) {

			let cli = clients.find(c => c.co_cli.trim() == value);
			if (cli != null) {
				$("#des_client").val(cli.cli_des);

				$scope.order.co_ven = cli.co_ven;
				$("#des_seller").val(searchVen($scope.order.co_ven));
				$scope.order.co_cond = cli.cond_pag;
				$("#des_cond").val(searchCond($scope.order.co_cond));

			} else {
				$("#des_client").val("");
				if (del) {
					$("#client").val("");
					$scope.order.co_cli = "";
				}
			}
		}

		$scope.setSeller = function (value, del) {

			let sel = sellers.find(s => s.co_ven.trim() == value);
			if (sel != null) {
				$("#des_seller").val(sel.ven_des);
			} else {
				$("#des_seller").val("");
				if (del) {
					$("#seller").val("");
					$scope.order.co_ven = "";
				}
			}
		}

		$scope.setCond = function (value, del) {

			let cond = conds.find(c => c.co_cond.trim() == value);
			if (cond != null) {
				$("#des_cond").val(cond.cond_des);
			} else {
				$("#des_cond").val("");
				if (del) {
					$("#cond").val("");
					$scope.order.co_cond = "";
				}
			}
		}

		$scope.setArt = function (value, del) {

			let art = arts.find(a => a.co_art.trim() == value);
			if (art != null) {
				$scope.selectedArt = true;
				$scope.prices_filter = $scope.getFilterPrices(art.co_art.trim());
				$scope.setPrice($scope.prices_filter[0]);
				$("#des_art").val(art.art_des);
			} else {
				$scope.selectedArt = false;
				$scope.prices_filter = null;
				$scope.reng.co_precio = null;
				$("#des_art").val("");
				if (del) {
					$("#art").val("");
					$scope.reng.co_art = "";
				}
			}
		}

		$scope.setAlm = function (value, del) {

			let alm = alms.find(a => a.co_alma.trim() == value);
			if (alm != null) {
				$("#des_alm").val(alm.des_alma);
			} else {
				$("#des_alm").val("");
				if (del) {
					$("#alm").val("");
					$scope.reng.co_alma = "";
				}
			}
		}

		$scope.getFilterPrices = function (art) {

			var pricesArt = prices.filter(p => p.co_art.trim() == art && p.co_alma == null);
			var filtered = pricesArt.reduce((acc, current) => {

				var existing = acc.find(item => item.co_precio === current.co_precio);
				if (existing) {
					if (new Date(current.desde) > new Date(existing.desde)) {
						acc[acc.indexOf(existing)] = current;
					}
				} else {
					acc.push(current);
				}

				return acc;

			}, []);

			return filtered;
		}

		$scope.receptPrice = function (value) {
			var price = prices.find(p => p.co_precio.trim() == value);
			$scope.setPrice(price);
		}

		$scope.setPrice = function (obj_price) {
			$scope.reng.co_precio = obj_price.co_precio.trim();
			$scope.reng.prec_vta_om = obj_price.precioOm ? obj_price.monto : (obj_price.monto / ($scope.order.tasa ?? 1)).toFixed(3);
			$scope.updatePriceItem();
		}

		$scope.receptImp = function (value) {
			var imp = imps.find(i => i.tipo_imp.trim() == value);
			$scope.setImp(imp);
		}

		$scope.setImp = function (obj_imp) {
			$scope.reng.tipo_imp = obj_imp.tipo_imp.trim();
			$scope.reng.porc_imp = obj_imp.porc_tasa;
			$scope.updatePriceItem();
		}

		$scope.addOrder = function () {

			if ($("#form")[0].checkValidity()) {
				if ($scope.order.saPedidoVentaReng.length > 0) {

					$("#form input, #form textarea").change();

					$("#modalWaiting").modal("show");
					$scope.order.fec_emis = origDate($scope.order.fec_emis);
					$scope.order.fec_venc = origDate($scope.order.fec_venc);
					$scope.order.fec_reg = origDate($scope.order.fec_reg);
					$scope.order.co_cta_ingr_egr = null;

					for (var ind in $scope.order) {
						if ($scope.order[ind] === "")
							$scope.order[ind] = null;
					}

					var req = {
						method: 'POST',
						url: '/api/DataMasterApi/AddOrder/',
						data: $scope.order,
						headers: {
							'Content-Type': 'application/json'
						},
					}

					$http(req).then(function (response) {

						var res = response.data;
						if (res.Status == "OK") {
							$("#modalSuccess").modal("show");
							$scope.successMessage = `El Pedido ${res.Result.doc_num} se ha agregado con éxito`;
							$scope.orders.unshift(res.Result);
							$scope.order = $scope.orders[0];
							$scope.order = convert($scope.order); // AGREGAR PRECIOS OM
							$scope.index = 0;
							$scope.adding = false;
						} else {
							$("#modalError").modal("show");
							$scope.errorMessage = res.Message;
						}

					}, function (response) {
						$("#modalError").modal("show");
						$scope.errorMessage = "ERROR INTERNO -> " + response.data.ExceptionMessage;
					});

				} else {
					alert("Debes agregar items al pedido");
				}
			}
		}

		$scope.editOrder = function () {

			if ($("#form")[0].checkValidity()) {
				if ($scope.order.saPedidoVentaReng.length > 0) {

					$("#form input, #form textarea").change();

					$("#modalWaiting").modal("show");
					$scope.order.fec_emis = origDate($scope.order.fec_emis);
					$scope.order.fec_venc = origDate($scope.order.fec_venc);
					$scope.order.fec_reg = origDate($scope.order.fec_reg);
					$scope.order.co_cta_ingr_egr = null;

					for (var ind in $scope.order) {
						if ($scope.order[ind] === "")
							$scope.order[ind] = null;
					}

					var req = {
						method: 'POST',
						url: '/api/DataMasterApi/EditOrder/',
						data: $scope.order,
						headers: {
							'Content-Type': 'application/json'
						},
					}

					$http(req).then(function (response) {

						var res = response.data;
						if (res.Status == "OK") {
							$("#modalSuccess").modal("show");
							$scope.successMessage = `El Pedido ${res.Result.doc_num} se ha modificado con éxito`;
							$scope.editing = false;
						} else {
							$("#modalError").modal("show");
							$scope.errorMessage = res.Message;
						}

					}, function (response) {
						$("#modalError").modal("show");
						$scope.errorMessage = "ERROR INTERNO -> " + response.data.ExceptionMessage;
					});

				} else {
					alert("Debes agregar items al pedido");
				}
			}
		}

		$scope.deleteOrder = function (id) {

			$("#modalDelete").modal("hide");
			$("#modalWaiting").modal("show");

			$http.get("/api/DataMasterApi/DeleteOrder/" + id)
				.then(function (response) {

					var res = response.data;
					if (res.Status == "OK") {
						$("#modalSuccess").modal("show");
						$scope.successMessage = "El pedido " + res.Result + " se ha eliminado con éxito";
						orders = orders.filter(o => o != $scope.order);
						$scope.orders = orders;
						$scope.order = $scope.orders[0];
						$scope.index = 0;
					} else {
						$("#modalError").modal("show");
						$scope.errorMessage = res.Message;
					}
				});
		}
	});

	function setStatus(status) {

		var value;

		if (status == 0)
			value = "NO PROCESADA";
		else if (status == 1)
			value = "PARC. PROCESADA";
		else if (status == 2)
			value = "PROCESADA";

		return value;
	}

	function searchCli(id) {
		return clients.find(c => c.co_cli == id).cli_des;
	}

	function searchCond(id) {
		return conds.find(c => c.co_cond == id).cond_des;
	}

	function searchVen(id) {
		return sellers.find(s => s.co_ven == id).ven_des;
	}

	function searchArt(id) {
		return arts.find(s => s.co_art.trim() == id.trim()).art_des;
	}

	function searchAlm(id) {
		return alms.find(a => a.co_alma.trim() == id.trim()).des_alma;
	}

	function searchOrder() {
		var value = $("#input-orders").val().toLowerCase(),
			table = $("#table-orders")[0];

		for (var i = 1; i < table.rows.length; i++) {

			var row = table.rows[i];
			var elems = row.getElementsByTagName("td");

			var val1 = elems[0].innerHTML.toLocaleLowerCase(), val2 = elems[1].innerHTML.toLocaleLowerCase();

			if (!val1.includes(value) && !val2.includes(value))
				row.style.display = "none";
			else
				row.style.display = "";
		}
	}

	function convert(order) {

		var i = order;

		i.total_bruto_om = setSeparator(parseFloat((i.total_bruto / i.tasa).toFixed(3)).toFixed(2));
		i.total_bruto = setSeparator(i.total_bruto.toFixed(2));

		i.monto_imp_om = setSeparator(parseFloat((i.monto_imp / i.tasa).toFixed(3)).toFixed(2));
		i.monto_imp = setSeparator(i.monto_imp.toFixed(2));

		i.total_neto_om = setSeparator(parseFloat((i.total_neto / i.tasa).toFixed(3)).toFixed(2));
		i.total_neto = setSeparator(i.total_neto.toFixed(2));

		i.saldo_om = setSeparator(parseFloat((i.saldo / i.tasa).toFixed(3)).toFixed(2));
		i.saldo = setSeparator(i.saldo.toFixed(2));

		for (var reng of i.saPedidoVentaReng) {

			if (reng.porc_imp > 0) {
				reng.monto_imp = (reng.reng_neto * 0.16);
			}

			reng.prec_vta_om = setSeparator(parseFloat((reng.prec_vta / i.tasa).toFixed(3)).toFixed(2));
			reng.prec_vta = setSeparator(reng.prec_vta.toFixed(2));
			reng.monto_imp_om = setSeparator((reng.monto_imp / i.tasa).toFixed(2));
			reng.monto_imp = setSeparator(reng.monto_imp.toFixed(2));
			reng.reng_neto_om = setSeparator((reng.reng_neto / i.tasa).toFixed(2));
			reng.reng_neto = setSeparator(reng.reng_neto.toFixed(2));
		}

		i.fec_emis = new Date(i.fec_emis);
		i.fec_venc = new Date(i.fec_venc);
		i.fec_reg = new Date(i.fec_reg);
		i.fe_us_in = new Date(i.fe_us_in);
		i.fe_us_mo = new Date(i.fe_us_mo);
		i.estatus = setStatus(i.status);
		i.des_cli = searchCli(i.co_cli);
		i.des_cond = searchCond(i.co_cond);
		i.des_ven = searchVen(i.co_ven);

		return i;
	}

	function origDate(value) {

		var timeOffset = value.getTimezoneOffset() * 60000;
		var date = new Date(value.getTime() - timeOffset).toUTCString();

		return new Date(date);
	}

	function parse(value) {
		return parseFloat(value.replaceAll(',', ''));
	}

	function parseItems(items_c) {

		var items = items_c;

		for (var item of items) {

			// TOTALES OM
			item.total_bruto_om = setSeparator(parseFloat((item.total_bruto / item.tasa).toFixed(3)).toFixed(2));
			item.total_bruto = setSeparator(item.total_bruto.toFixed(2));

			item.monto_imp_om = setSeparator(parseFloat((item.monto_imp / item.tasa).toFixed(3)).toFixed(2));
			item.monto_imp = setSeparator(item.monto_imp.toFixed(2));

			item.total_neto_om = setSeparator(parseFloat((item.total_neto / item.tasa).toFixed(3)).toFixed(2));
			item.total_neto = setSeparator(item.total_neto.toFixed(2));

			item.saldo_om = setSeparator(parseFloat((item.saldo / item.tasa).toFixed(3)).toFixed(2));
			item.saldo = setSeparator(item.saldo.toFixed(2));

			for (var r of item.saPedidoVentaReng) {
				r.prec_vta_om = setSeparator(parseFloat((r.prec_vta / item.tasa).toFixed(3)).toFixed(2));
				r.prec_vta = setSeparator(r.prec_vta.toFixed(2));

				r.monto_imp_om = setSeparator(parseFloat((r.monto_imp / item.tasa).toFixed(3)).toFixed(2));
				r.monto_imp = setSeparator(r.monto_imp.toFixed(2));

				r.reng_neto_om = setSeparator(parseFloat((r.reng_neto / item.tasa).toFixed(3)).toFixed(2));
				r.reng_neto = setSeparator(r.reng_neto.toFixed(2));
			}

			// FECHAS
			item.fec_emis = new Date(parseInt(item.fec_emis.substr(6)));
			item.fec_venc = new Date(parseInt(item.fec_venc.substr(6)));
			item.fec_reg = new Date(parseInt(item.fec_reg.substr(6)));
			item.fe_us_in = new Date(parseInt(item.fe_us_in.substr(6)));
			item.fe_us_mo = new Date(parseInt(item.fe_us_mo.substr(6)));

			// DATOS
			item.estatus = setStatus(item.status);
			item.des_cli = searchCli(item.co_cli);
			item.des_cond = searchCond(item.co_cond);
			item.des_ven = searchVen(item.co_ven);
		}

		return items;
	}

	function setSeparator(value) {
		return new Intl.NumberFormat('en-EN', { minimumFractionDigits: 2 }).format(value);
	}

	function onlyNumbers(e) {
		return (e.keyCode >= 46 && e.keyCode <= 57) || 
			(e.keyCode >= 96 && e.keyCode <= 105) ||
			(e.keyCode == 110) || (e.keyCode == 188) ||
			(e.keyCode == 190) || (e.keyCode == 8);
	}

	function openModal(elem, modal) {

		var previous = elem.previousElementSibling;

		if (!previous.disabled) {

			$("#" + modal).find("#name-input").val($(elem).data("name"));
			$("#" + modal).modal("show");

		}
	}

	function search(modal) {
		var value = $("#" + modal).find("input[type=text]").val().toLowerCase(),
			table = $("#" + modal).find("#results")[0];

		for (var i = 0; i < table.rows.length; i++) {

			var row = table.rows[i];
			var elems = row.getElementsByTagName("td");

			var val1 = elems[0].innerHTML.toLocaleLowerCase(), val2 = elems[1].innerHTML.toLocaleLowerCase();

			if (!val1.includes(value) && !val2.includes(value))
				row.style.display = "none";
			else
				row.style.display = "";
		}
	}

	function selectRow(elem) {
		var previous = document.getElementsByClassName("selected-row")[0];

		if (previous != null) {
			previous.classList.remove("selected-row");
		}

		elem.classList.add("selected-row");
	}

	function saveRow(modal) {
		var item = document.getElementsByClassName("selected-row")[0];

		if (item != null) {
			var elem = item.children[0],
				value = elem.innerHTML,
				input = $("#" + modal).find("#name-input").val();

			$("#" + input).val(value.trim());
			$(".selected-row")[0].classList.remove("selected-row");
			$("#" + modal).find("input[type=text]").val("");
			$("#" + modal).find("button[name=search-btn]").trigger("click");

			switch (input) {
				case "client":
					$("#des_client").val(searchCli(value));
					search("modalClients");

					let cli = clients.find(c => c.co_cli == value);
					$("#seller").val(cli.co_ven);
					$("#des_seller").val(searchVen(cli.co_ven));
					$("#cond").val(cli.cond_pag);
					$("#des_cond").val(searchCond(cli.cond_pag));
					break;
				case "cond":
					$("#des_cond").val(searchCond(value));
					search("modalConds");
					break;
				case "seller":
					$("#des_seller").val(searchVen(value));
					search("modalSellers");
					break;
				case "alm":
					$("#des_alm").val(searchAlm(value));
					search("modalAlms");
					break;
				case "art":
					$("#art").change();
					$("#art").keyup();
					$("#des_art").val(searchArt(value));
					search("modalArts");
					break;
			}

			$("#" + modal).modal("hide");
		} else {
			alert("Debes seleccionar un item");
		}
	}

	function openTab(e, tabName) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("form-body");

		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}

		tablinks = document.getElementsByClassName("tablinks");

		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}

		document.getElementById(tabName).style.display = "flex";
		e.target.className += " active";
	}

</script>